#macro(showIssues $publication)
  <li><b>$publication.name</b> $publication.issues.size();
  #if ($publication.issues.size() > 0)
    #set($issue  = $publication.issues.get(0))
    <div>
      <i>Latest issue $issue.issueCode ($issue.year) $issue.label $issue.releaseDate</i>
        <div class="issueLink" data-catalog="$!name" data-issue="$!issue.issueCode">
          <img src="/newsstandws/issue/$issue.issueCode/cover/360.jpg" >
        </div>
    </div>
    #if ($publication.issues.size() > 1)
      #foreach($issue in $publication.issues.subList(1, $publication.issues.size()))
      <div style="float:left;">
        $issue.issueCode ($issue.year)<br>$issue.label<br>$issue.releaseDate
        <div class="issueLink" data-catalog="$!name" data-issue="$!issue.issueCode">
          <img height="175" src="/newsstandws/issue/$issue.issueCode/cover/360.jpg" >
        </div>
      </div>
      #end
    <br style="clear:both">
    #end
  #end
  </li>
#end
<h1>$content.name</h1>
#foreach($name in $catalogs)
<h2>$name</h2>
#set($catalog = $catalogInfo.get($name))
  #if ($content.showNewspapers)
  <h2>NEWPAPERS: $catalog.newspapers.size()</h2>
  <ul>
    #foreach($publication in $catalog.newspapers)
      #showIssues($publication)
    #end
  </ul>
  #end
  #if ($content.showMagazines)
  <h2>MAGAZINE: $catalog.magazines.size()</h2>
  <ul>
    #foreach($publication in $catalog.magazines)
      #showIssues($publication)
    #end
  </ul>
  #end
  #if ($content.showSeasonals)
  <h2>COLLATERAL: $catalog.seasonals.size()</h2>
  <ul>
    #foreach($publication in $catalog.seasonals)
      #showIssues($publication)
    #end
  </ul>
  #end
  #if ($content.showSpecials)
  <h2>COLLATERAL: $catalog.specials.size()</h2>
  <ul>
    #foreach($publication in $catalog.specials)
      #showIssues($publication)
    #end
  </ul>
  #end
#end
<script>
function openInNewWindow(url) {
  var win = window.open(url, '_blank');
  win.focus();
}
$('.issueLink').on('click', function(e) {
  var div = $(e.currentTarget);
  var catalog = div.attr('data-catalog');
  var issue = div.attr('data-issue');
  $.when(Atex.plugin.newsstand.login(catalog, issue))
    .then(function(data) {
      if (console.log) {
        console.log('got url ' + data);
      }
      openInNewWindow(data);
    });
});
</script>